<div id="main">
<%= @msg %>
</div>

<%# コメントです
この行もコメント %>

<% msg2 = 'ここはコメントではない'
# これはコメントです。 %>

<% if false %>
<% msg3 = 'この部分は無視されます' %>
<%='これも無視' %>
<% end %>

<%
=begin
%>
<% msg3 = 'この部分は無視されます' %>
<%='これも無視' %>
<%
=end
%>

<!-- <%= 'ブラウザの画面上には表示されません。'%> -->
